device: cuda
mol_path: /scratch/mk8347/csd_runs/datasets/xuldud/xuldud.pt
out_dir: /scratch/mk8347/csd_runs/datasets/xuldud
run_name: xul_prod_dataset

mol_seed: 0
opt_seed: 0
sampling_mode: all # 'all' or 'random' or 'ordered'
mols_to_sample: 1
num_samples: 10000 # per mol, per space group, per Zp

sgs_to_search: [ 2,4,9,14, 15, 19, 33, 61 ]
zp_to_search: [ 1, 2 ]

batch_size: 5000
grow_batch_size: false

init_sample_method: random  # 'random' 'reasonable'
init_target_cp: 0.1 #std  # float, null or 'std' target packing coefficient for initial structure sampling

# Optimization can have multiple stages by duplicating the opt block below and adjusting params
# the search algo will run consecutive n consecutive optimizations for n the number of list elements

#        these are the valid kwargs to feed to the opt function (from gradient_descent_optimization)
#        optimizer_func: Optional = torch.optim.SGD,
#        convergence_eps: Optional[float] = 1e-4,
#        init_lr: Optional[float] = 1e-1,
#        max_num_steps: Optional[int] = 500,
#        show_tqdm: Optional[bool] = False,
#        grad_norm_clip: Optional[float] = 0.1,
#        optim_target: Optional[str] = 'lj',
#        score_model: Optional[torch.nn.Module] = None,
#        target_packing_coeff: Optional[torch.Tensor] = None,
#        do_box_restriction: Optional[bool] = False,
#        cutoff: Optional[float] = None,
#        compression_factor: Optional[float] = 0,
#        enforce_reduced: Optional[bool] = False,
#        supercell_size: Optional[int] = 10,
#        anneal_lr: Optional[bool] = False,

opt:
  - optim_target: 'silu' # lj qlj elj silu ellipsoid classification_score rdf_score
    enforce_reduced: true
    compression_factor: 1.0
    init_lr: 0.01
    convergence_eps: 0.0001
    optimizer_func: 'rprop'  # NOTE rprop is by far the fastest and most reliable
    anneal_lr: false
    grad_norm_clip: 0.1
    show_tqdm: true
    max_num_steps: 500

  - optim_target: 'lj' # lj qlj elj silu ellipsoid classification_score rdf_score
    enforce_reduced: true
    compression_factor: 1.0
    init_lr: 0.01
    convergence_eps: 0.0001
    optimizer_func: 'rprop'  # NOTE rprop is by far the fastest and most reliable
    anneal_lr: false
    grad_norm_clip: 0.1
    show_tqdm: true
    max_num_steps: 500

  - optim_target: 'reduce' # lj silu ellipsoid classification_score rdf_score
    enforce_reduced: true
    compression_factor: 0.0
    init_lr: 0.01
    convergence_eps: 0.00001
    optimizer_func: 'rprop'  # SGD is good for fine-tuning local opts
    anneal_lr: false
    grad_norm_clip: 0.1
    show_tqdm: true
    max_num_steps: 500