autodocsumm
myst-parser
sphinx
sphinx-rtd-theme

plotly
ase
numpy
scipy
scikit-learn

--find-links https://download.pytorch.org/whl/cpu
torch>=2.0.1

--find-links https://data.pyg.org/whl/torch-2.0.0+cpu.html
torch-scatter
torch-sparse
torch-cluster
torch-geometric
